<?xml version="1.0" encoding="utf-8"?>
<configuration>

    <system.webServer>
        <handlers>
            <remove name="aspNetCore"/>
            <!-- WORKAROUND: Remove WebDAV handler and module to allow PUT method: -->
            <remove name="WebDAV" />
            <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
        </handlers>
        <modules>
            <remove name="WebDAVModule" />
        </modules>
        <aspNetCore processPath=".\GrpcOnWindows.exe"
                arguments=""
                forwardWindowsAuthToken="false"
                stdoutLogEnabled="false"
                stdoutLogFile="_stdout.log"
                hostingModel="inprocess">
            <environmentVariables>
                <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
            </environmentVariables>
        </aspNetCore>
        <httpProtocol allowKeepAlive="true">
            <customHeaders>
                <remove name="X-Powered-By" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>

</configuration>
